body {
  margin: 0;

}

#navbar {
  overflow: hidden;
  background-color: #000000;
}

#navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 23px;
  text-decoration: none;
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-size: 15;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a:hover {

  color: black;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* dropdown */

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  /* Arrange items horizontally */
}

.dropdown-content a {
  text-decoration: none;
  padding: 10px 16px;
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-size: 15;
}

.dropdown-content a:hover {
  background-color: #CCCCCC;
}

.dropdown:hover .dropdown-content {
  display: flex;
  /* Show items horizontally on hover */

}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-size: 15px;
}


.icon-link i {
  color: white;
  /* Default icon color */
  transition: color 0.3s ease;
  /* Smooth transition for icon color change */
}

.icon-link:hover {
  background-color: red;
  /* Background color on hover */
}

.icon-link:hover i {
  color: white;
  /* Keep icon color white or adjust as needed */
}


/* Responsive Media Query */
@media screen and (max-width: 768px) {

  #navbar a:not(:first-child),
  .dropdown .dropbtn {
    display: none;
  }

  #navbar a.icon {
    float: right;
    display: block;
  }

  #navbar.responsive {
    position: relative;
  }

  #navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  #navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  #navbar.responsive .dropdown {
    float: none;
  }

  #navbar.responsive .dropdown-content {
    position: relative;
  }

  #navbar.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}


@media screen and (max-width: 1366px),
screen and (max-width: 1200px),
screen and (max-width: 992px),
screen and (max-width: 768px) {
  #navbar a.icon {
    display: none;
  }
}

/* For smaller screens, such as below 768px, show the icon again */
@media screen and (max-width: 767px) {
  #navbar a.icon {
    display: block;
  }
}




/* img slider */
.imgslider {
  width: 100%;
  height: 800px;
}


.heading {
  color: #f2f2f2;
  font-size: 24px;

  position: absolute;
  top: 95%;
  left: 50%;

  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;

}

.paragraph {
  color: #f2f2f2;
  font-size: 15px;
  margin: 1px 12px;
  position: absolute;
  top: 105%;
  left: 41%;

  font-family: Lato, sans-serif;
  font-weight: 700;

}

@media only screen and (max-width: 1200px) {

  /*Tablets [601px -> 1200px]*/
  .imgslider {
    width: 100%;
    height: 800px;
  }

  .heading {
    position: absolute;
    top: 95%;
    left: 50%;


  }

  .paragraph {

    position: absolute;
    top: 110%;
    left: 41%;
  }
}

@media only screen and (max-width: 1000px) {

  /*Tablets [601px -> 1200px]*/
  .imgslider {
    width: 100%;
    height: 700px;
  }

  .heading {
    position: absolute;
    top: 90%;
    left: 50%;


  }

  .paragraph {

    position: absolute;
    top: 100%;
    left: 41%;
  }
}

@media only screen and (max-width: 900px) {

  /*Tablets [601px -> 1200px]*/
  .imgslider {
    width: 100%;
    height: 700px;
  }

  .heading {
    position: absolute;
    top: 80%;
    left: 50%;


  }

  .paragraph {

    position: absolute;
    top: 95%;
    left: 35%;
  }
}

@media only screen and (max-width: 800px) {

  /*Tablets [601px -> 1200px]*/
  .imgslider {
    width: 100%;
    height: 100vh;
  }

  .heading {
    position: absolute;
    top: 70%;
    left: 50%;


  }

  .paragraph {

    position: absolute;
    top: 85%;
    left: 35%;
  }
}

@media only screen and (max-width: 700px) {

  /*Tablets [601px -> 1200px]*/
  .imgslider {
    width: 100%;
    height: 90vh;
  }

  .heading {
    position: absolute;
    top: 60%;
    left: 50%;


  }

  .paragraph {

    position: absolute;
    top: 75%;
    left: 35%;
  }
}

@media only screen and (max-width: 600px) {

  /*Big smartphones [426px -> 600px]*/
  .imgslider {
    width: 100%;
    height: 80vh;
  }

  .heading {

    display: none;

  }

  .paragraph {
    display: none;

  }

}

@media only screen and (max-width: 500px) {

  /*Small smartphones [325px -> 425px]*/
  .imgslider {
    width: 100%;
    height: 65vh;
  }
}

@media only screen and (max-width: 320px) {

  /*Small smartphones [325px -> 425px]*/
  .imgslider {
    width: 100%;
    height: 50vh;
  }
}


/* Band */

.band {
  text-align: center;
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  margin-top: 72px;
  letter-spacing: 4px;
  margin-bottom: 21px;
}

.bandp {
  text-align: center;
  font-family: Lato, sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  color: #b6b5b5;
}

.bandpa {
  text-align: justify;

  padding-left: 22%;
  padding-right: 20%;
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
}

@media only screen and (max-width: 1000px) {

  /*Small smartphones [325px -> 425px]*/
  .bandpa {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media only screen and (max-width: 900px) {

  /*Small smartphones [325px -> 425px]*/
  .bandpa {
    padding-left: 6.5%;
    padding-right: 6.5%;
  }
}

@media only screen and (max-width: 800px) {

  /*Small smartphones [325px -> 425px]*/
  .bandpa {
    padding-left: 2%;
    padding-right: 2%;
  }
}

@media only screen and (max-width: 500px) {

  /*Small smartphones [325px -> 425px]*/
  .bandpa {
    padding-left: 2.5%;
    padding-right: 2.5%;
    font-family: Lato, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;

  }
}



/* img side by side  */
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* Creates three equal columns */
  justify-content: center;
  /* Centers the grid container horizontally */
  max-width: 780px;
  /* Adjust this value to suit your layout */
  margin: 0 auto;
  /* Centers the container itself */

}

.container>div {
  text-align: center;
  /* Centers text within each grid cell */
}

.container img {
  width: 156px;
  height: 156px;
  border-radius: 10px;
}

@media only screen and (max-width: 600px) {

  /*Small smartphones [325px -> 425px]*/
  .container {
    display: block;

  }
}

.black {
  background-color: black;
  color: white;

  height: 700px;
  /* Full viewport height */
  padding: 20px;
  text-align: center;
  padding-bottom: 88px;
}

/* Heading styling */
.blackh2 {
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 600;
  font-size: 2rem;
  /* Using rem units for scalable font size */
  letter-spacing: 0.1rem;
  /* More subtle letter spacing */
  margin: 0;
  padding: 1.5rem 0;
  /* Added padding for spacing */
}

/* Paragraph styling */
.blackp {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  /* Adjusted font size for consistency */
  font-style: italic;
  color: #CCCCCC;
  /* Slightly lighter color for contrast */
  margin: 0;
  padding-bottom: 1.5rem;
  /* Consistent spacing */
}

/* Centered list styling */
.centered-list {
  list-style-type: none;
  /* Remove default list bullets */
  padding: 0;
  margin: 0 auto;


  max-width: 766px;
  /* Maximum width for better readability */
}

/* List item styling */
.centered-list li {

  border-bottom: 1px solid #DDDDDD;
  background-color: #FFFFFF;
  color: #797979;
  /* Darker color for better readability */
  width: 100%;
  /* Full width of the container */
  padding: 0.45rem;
  /* Added padding for better spacing */
  line-height: 1.5rem;
  /* Adjusted line-height for better text alignment */
  box-sizing: border-box;
  /* Ensures padding and border are included in the width */
  text-align: left;
  /* Center text inside list items */
}

/* Soldout */
.Soldout {
  color: #fff !important;
  background-color: #f44336 !important;
  margin-left: 16px !important;
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
}

.three {
  float: right !important;
  margin-right: 16px !important;
  border-radius: 50%;
  background-color: #000;
  color: #fff;
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  font-family: Lato, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  font-style: normal;

}

.threecardimgtext {

  padding-top: 32px !important;
  padding-bottom: 32px !important;


}

.cardimg {
  display: inline-block;

  margin: 0 6px;


  height: 185px;
  width: 247px;
}

.cardtextimg {
  color: #000 !important;
  background-color: #fff !important;
  padding: 0.01em 16px;
  text-align: left;
  font-family: Lato, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
}

.cardbutton {
  color: #fff;
  background-color: #000;
  margin-bottom: 16px;

  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;



  text-align: center;
  cursor: pointer;


  font-family: Lato, sans-serif;
  font-weight: 400;
  font-size: 15px;
  font-style: normal;
  line-height: 23px;

}

.p1 {
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-size: 15px;
  font-style: normal;
  line-height: 23px;
}

.p2 {
  opacity: 0.60;
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-size: 15px;
  font-style: normal;
  line-height: 23px;
}

.p3 {

  font-family: Lato, sans-serif;
  font-weight: 400;
  font-size: 15px;
  font-style: normal;
  line-height: 23px;
}

.imgsetting {
  width: 100%;
  vertical-align: middle;


}

@media (max-width: 836px) {
  .cardimg {
    width: 100%;
    height: auto;
    /* Adjust height for smaller screens */
  }
}

/* contant section */


.CONTACT
  {
  text-align: center;
  margin-top: 74px;
  font-size: 30px;
  font-weight: 400;
  line-height: 45px;
  font-style: normal;
  font-family: "Segoe UI", Arial, sans-serif;
}

.fan {
  text-align: center;
  font-family: Lato, sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
  color: #a09b9b;

}
.column {
  
  float: left;
  width: 50%;

 
}



.left {
  margin-bottom: 16px !important;
  font-size: 18px !important;
  float: right;
   padding-right: 47px;
  width: 50%;
}

.half {

  width: 49.99999%;
  float: left;

}
.right {
  width: 57%;
  float: left;  
  box-sizing: border-box; 
  
}





.textboxs {
  border: 1px solid #ccc !important;
  width: 178px;
  height: 36px;
  
}

.messageboxs {
  border: 1px solid #ccc !important;
  width: 378px;
  height: 36px;
margin-top: 8px;


}



.textboxsbutton {
  color: #fff !important;
  background-color: #000 !important;

  margin-top: 16px !important;
  margin-bottom: 16px !important;


  padding: 8px 16px;

  overflow: hidden;
 
float: right;
  text-align: center;
  cursor: pointer;


}

#textboxleft
{
  padding-left: 10px;
}

@media (max-width: 1200px) {
  #textboxleft
  {
    margin-left: 20px;
  }
}
@media (max-width: 1100px) {
  #textboxleft
  {
    margin-left: 35px;
  }
}
@media (max-width: 1000px) {
  #textboxleft
  {
    margin-left: 50px;
  }
}
@media (max-width: 900px) {
  #textboxleft
  {
    margin-left: 65px;
  }
}
@media (max-width: 850px) {
  #textboxleft
  {
    margin-left: 70px;
  }
}